/* htmlAuto */
:root {
  --rootW: 10;
  --rootM: 9;
  --rootS: 8;
  --rootL: 7;
}
html {
  font-size: calc(var(--rootW) * 1px);
}
@media (max-width: 3840px) {
  html {
    font-size: calc(100vw / 3840 * var(--rootW));
  }
}
@media (max-width: 2560px) {
  html {
    font-size: calc(100vw / 2560 * var(--rootW));
  }
}
@media (max-width: 1920px) {
  html {
    font-size: calc(100vw / 1920 * var(--rootW));
  }
}
@media (max-width: 1680px) {
  html {
    font-size: calc(100vw / 1680 * var(--rootW));
  }
}
@media (max-width: 1440px) {
  html {
    font-size: calc(100vw / 1440 * var(--rootM));
  }
}
@media (max-width: 1280px) {
  html {
    font-size: calc(100vw / 1280 * var(--rootS));
  }
}
@media (max-width: 980px) {
  html {
    font-size: calc(100vw / 980 * var(--rootW));
  }
}
@media (max-width: 750px) {
  html {
    font-size: calc(100vw / 750 * var(--rootW));
  }
}
@media (max-width: 375px) {
  html {
    font-size: calc(100vw / 375 * var(--rootL));
  }
}
